<% provide(:title, "Contact") %>

  <h1>Contact</h1>
    <p>
      David Durden (Head Coach): 000-000-0000
    </p>
    <p>
      Yuri Suguiyama (Assistant Coach): 000-000-0000
    </p>
    <p>
      Jonathan Xu (Team Manager): 000-000-0000
    </p>