<footer class="footer">
  <small>
    A supplementary <a href = "http://www.calbears.com">
    men's swimming and diving website</a> by Jonathan Xu
    assisted by Michael Hartl's tutorial. Not affiliated with UC Berkeley.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path   %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://www.calbears.com/SportSelect.
      dbml?DB_LANG=C&DB_OEM_ID=30100&SPID=126526&SPSID=749488">Schedule</a></li>
    </ul>
  </nav>
</footer>