<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
    <%= link_to "Cal Men's Swimming", root_path, id: "logo" %>
    <nav>
      <ul class = "nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>